<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<div th:if="${param.logout}">
    You have been logged out.
</div>
New user
<div  th:if="${param.logout}">

</div>
<!--/*@thymesVar id="userform" type=""*/-->
<form th:action="@{/registr}"
      th:object="${userform}" method="post">
    <p>Title:
        <input type="text" th:field="*{login}"/>
    </p>
    <p> Year of creation:
        <input type="text" th:field="*{password}"/>
    </p>
    <div><input type="submit" value="Зарегаться"/></div>
</form>
</body>
</html>